.container {
  padding-top: 4rem;
  background-color: rgb(63, 63, 67);
  text-align: center;
  height: 650px;
}
.container span {
  color: red;
  font-size: 9px;
}
.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  background-color: rgb(181, 180, 180);
  border-radius: 100px 0px 0px 100px;
  padding: 20px 20px 80px 20px;
  font-family: monospace;
}
.row1 {
  display: flex;
  column-gap: 50px;
}
.row2 {
  display: flex;
  column-gap: 50px;
  margin-top: 15px;
}
.row2group {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.row3 {
  display: flex;
  column-gap: 50px;
  margin-top: 15px;
}
.row3group {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.inputcontainerLeft {
  display: flex;
  flex-direction: row-reverse;
}
.inputcontainerRight {
  display: flex;
}
.container form input,
.row3group select,
.inputcontainerLeft textarea,
.inputcontainerRight textarea {
  padding: 10px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(27, 26, 26);
  border-radius: 4px;
  box-sizing: border-box;
}
.submitBtn {
  width: 100px;
  background-color: #110f12;
  color: white;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.submitBtn:hover {
  background-color: #1d1a1f;
}
